<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css" />
    <title>Modern React Course</title>
</head>
<body>
    <!-- "Root" precisa de ser criado para ser chamdo no JSX, 
    deixando uma "Base" aonde o codigo vai ser criado -->
    <div id="root"></div>
    <!-- Chama os scripts do React -->
    <script src= "http://unpkg.com/react/umd/react.development.js"></script>
    <script src= "http://unpkg.com/react-dom/umd/react-dom.development.js"></script>
    <!-- Chama BABEL (Interpretador JSX) -->
    <script src= "http://unpkg.com/babel-standalone"></script>
    <!-- Chama o arquivo.js para renderizar na pagina -->
    <script src= "Machine.js" type="text/jsx"></script>
    <script src= "index.js" type="text/jsx"></script>
</body>
</html>