.Dice {
    font-size: 10em;
    padding: 1rem;
    color: slateblue;
}

.Rolli {
    animation: shake 1s;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-6px, -6px, 0) rotate(5deg); 
    }
    
    20%, 80% {
      transform: translate3d(8px, -12px, 0) rotate(-2deg);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-10px, -7px, 0) rotate(3deg);
    }
  
    40%, 60% {
      transform: translate3d(10px, 8px, 0) rotate(-4deg);
    }
  }